replicaCount: 1

metadata:
  labels:
    environment: dev

image:
  repository: bahmniindiadistro
  name: bahmni-web
  tag: latest

service:
  type: ClusterIP
  port: 8091

autoscaling:
  enabled: false

nodeSelector: {}
affinity: {}
tolerations: {}
